[submodule "CodeWhale"]
	path = CodeWhale
	url = https://github.com/qiuYliangM/CodeWhale.git
[submodule "private-runtimes/windows"]
	path = private-runtimes/windows
	url = https://github.com/Pinvou/pinvou3-windows-runtime.git
	update = none
